@font-face {
    font-family: font;
    src: url('../big_noodle_titling.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: font, sans-serif;
    position: relative;
    background-color: #06093c;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5vh 10vw 6rem 10vw;
}

a {
    margin: 1rem;
    color: white;
    text-decoration: none;
    padding-top: 4px;
}

a:hover {
    color: rgb(141, 141, 141);
}

h1, h2 {
    color: #ffffff;
    font-family: font;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

aside {
    margin-top: 3rem;
}

aside, #content > p {
    color: rgb(141, 141, 141);
    text-align: justify;
}

#content {
    margin: 5vh 10vw 6rem 10vw;
}

#agende-btn {
    border: solid 2px #c4ae2d;
    border-radius: 10rem;
    padding: 5px;
    width: 7rem;
    text-align: center;
    animation: jump 1s infinite alternate;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-0.5rem);
    }
}

#agende-btn:hover {
    background-color: #c4ae2d;
    color: white;
    transition: transform 0.2s, box-shadow 0.2s;
}

p {
    color: white;
}

#footer {
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
}

#imgnews {
    height: 21rem;
    border-radius: 10%;
    box-shadow: 0 0rem 2.5rem -.10rem #c4ae2d;
    margin: 4rem 1.5rem;
}

#locate-section {
    width: 90%;
    max-width: 45rem;
    background-color: #c4ae2d;
    border-radius: 10px;
    padding: 2rem;
    margin: 3rem auto;
    box-shadow: 0 0rem 2rem -.1rem rgb(107, 107, 107);
    text-align: center;
    animation: jump 1s infinite alternate;
}

#locate-section iframe {
    border-radius: 7px;
    width: 100%;
}

#locate-section > h3, p {
    font-family: font;
    font-size: 2rem;
    color: rgb(141, 141, 141);
    text-align: justify;
}

#pdf {
    text-align: center;
    font-size: 2rem;
}

#pdf a {
    background-color: #c4ae2d;
    padding: 5px;
    border-radius: 7px;
}

/* Footer */
footer {
    background: #0A0A12;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    gap: 20px;
}

.section {
    max-width: 300px;
}

h3 {
    color: yellow;
    font-size: 1.1rem;
    text-align: start;
}

a {
    color: yellow;
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    margin: 5px;
    background: yellow;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 1200px) {
    main {
        margin: 5vh 5vw 6rem 5vw;
    }

    h1, h2 {
        font-size: 2.5rem;
    }

    img {
        height: 20rem;
    }

    #title {
        height: auto;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .section {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    a {
        margin: 0.5rem;
    }

    h1, h2 {
        font-size: 2rem;
    }

    img {
        height: 12rem;
    }

    #locate-section > h3, p {
        font-size: 1.5rem;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    #title {
        height: auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    main {
        margin: 5vh 2vw 6rem 2vw;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    img {
        height: 4rem;
    }

    #locate-section > h3, p {
        font-size: 1.2rem;
    }

    #agende-btn {
        width: 5rem;
        font-size: 0.9rem;
    }

    #title {
        height: auto;
    }

    .social-icons img {
        width: 25px;
    }

    #locate-section {
        padding: 1rem;
        width: 90%;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }

    .section {
        width: 100%;
    }
}
